.p__header {
    display: flex;
    flex-direction: row;
}

.above-header{
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1rem;
    color: var(--color-yellow);
}

.p__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.p__header-content h1 {
    padding: 20px 0;
    font-family: var(--font-logo);
    font-weight: 600;
    font-size: 62px;
    line-height: 75px;
    color: var(--font-high-emphasis);
}

.p__header-content {
    font-family: var(--main-font);
    font-size: 20px;
    color: var(--font-med-emphasis);
}

.p__header-content_button {
    padding: 30px 0;
}

.p__header-content_button button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 36px;
    font-size: 1rem;


    width: 170px;
    height: 50px;

    background: var(--color-yellow);
    border-radius: 25px;
    border-style: none;
    flex: none;
}

.p__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.p__header-image img {
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1050px) {
    .p__header {
        flex-direction: column;
    }

    .p__header-content {
        margin: 0 0 3rem;
    }

    .p__header-image {
        size: 70%;
    }
}

@media screen and (max-width: 650px) {
    .p__header-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .p__header-content p {
        font-size: 16px;
        line-height: 24px;
    }
    
    .p__header-content button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .p__header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .p__header-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .p__header-content button {
        font-size: 12px;
        line-height: 16px;
    }
}
